---
import logos from '../images/framework-logos.png'
import logosSmall from '../images/framework-logos-small.png'

export interface Props {
    heading?: string ;
    text?: string ;
    showExtra?: boolean ;
}

const {heading = "Welcome To The Astro Crash Site", text = "build super fast HTML-first websites using your favorite javascript frameworks", showExtra = false } 
= Astro.props as Props ;

---

<section class="showcase">

    <div class="showcase-text">
        <h1>{heading}</h1>
        <p>{text}</p>
    </div>

{ showExtra && <>

<div class="showcase-img">
        <img src={logos} alt="" class="logos">
        <img src={logosSmall} alt="" class="logos-small">
    </div>
    <p class="showcase-demo">P.S: I built this 😎</p>

</>}

    

</section>




<style>

.showcase {
  height: auto;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom, #0f172a, #6b21a8);
  padding: 30px;
}

.showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 500px;
  color: white;
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}

.showcase-demo {
  color: white;
  text-align: center;
  font-weight: 300;
}

</style>
